.card--hidden-container {
  border-bottom: 2px black solid;
  margin: auto;
  margin-top: 80px;
  width: 80%;
  padding-bottom: 10px;
}

.card--flex-row {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.card--flex-first-row {
  align-items: center;
  font-size: 18px;
  line-height: 20px;
}

img {
  width: 20%;
}

.card--width-first-row {
  width: 70%;
}

.card--author {
  margin-left: auto;
  width: fit-content;
  font-size: 12px;
}

.card--author p {
  margin: 0px;
}
